.tab {
  @include font-s400;
  color: $tab-text-color;
  font-size: rem(20);
  line-height: 125%;
  &.selected {
    @include font-s700;
  }
}

.small {
  @extend p;
  font-size: font-size(label);
  line-height: 125%;
}

.button-link {
  @extend a;
  &.dark {
    color: $black;
  }
}
