.button {
  padding: spacing(half);
  border-radius: rem(2);
  background: $button-default-background;
  box-shadow: $button-default-box-shadow;
  border: 0;
  display: inline-flex;
  text-decoration: none;
  @include font-s700;
  font-size: rem(16);
  color: $button-default-color;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  min-width: 44px;
  min-height: 44px;
  justify-content: center;
  &,
  & > .label {
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  &:hover,
  &.selected {
    background: $button-default-hover-background;
    cursor: pointer;
  }

  &:disabled {
    background: $button-default-disabled-background;
    color: $medium-gray;
    cursor: not-allowed;
  }
}

.button.slim {
  @include media(desktop up) {
    min-height: initial;
  }
  padding: spacing(paragraph) spacing(half);
}

.button.priority {
  color: $button-priority-color;
  background: $button-priority-background;
  &:hover,
  &.selected {
    background: $button-priority-disabled-background;
  }
  &:disabled {
    background: $button-priority-disabled-background;
  }
}

.button.secondary {
  color: $button-secondary-color;
  background: $button-secondary-background;
  border: $button-secondary-border;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
  &.selected {
    color: $button-secondary-hover-color;
    background: $button-secondary-hover-background;
  }
  &:hover {
    border: rem(1) solid rgba(255, 255, 255, 0.75);
  }
}

.button.warning {
  color: $button-warning-color;
  background: $button-warning-background;
  &:disabled {
    color: $button-warning-disabled-color;
    background: $button-warning-disabled-background;
  }
  &:hover {
    background: $button-warning-background-color;
  }
}
