// Main Colors
$medium-blue: #007acc;
$dark-blue: #02142B;
$red: #e91c00;
$dark-red: #C51800;
$extra-dark-red: #951200;
$white: #fff;
$black: #000;
$dark-gray: #111111;
$green: #00a107;
$light-green: #17ff21;
$dark-green: #19801E;
$yellow: #ffc107;
$opaque-text-color-light: rgba(255, 255, 255, 0.8);
$opaque-text-color-medium: rgba(255, 255, 255, 0.5);
$text-color: $white;
$medium-gray: #9CABB6;
$default-background: #082e48;
$footer-background: linear-gradient(180deg, rgba(3, 25, 53, 0) 0%, rgba(3, 25, 53, 0.67) 51.72%, #031935 98.57%);

//Button
$button-default-color: $white;
$button-default-box-shadow: 0px spacing(element) rem(15) rgba(0, 0, 0, 0.15);
$button-default-background: linear-gradient(150.13deg, rgba(255, 255, 255, 0.1) -21.73%, rgba(255, 255, 255, 0) 75.59%),
  $medium-blue;
$button-default-hover-background: linear-gradient(
    150.13deg,
    rgba(255, 255, 255, 0.1) -21.73%,
    rgba(255, 255, 255, 0) 75.59%
  ),
  #0a5887;
$button-default-disabled-background: linear-gradient(
    150.13deg,
    rgba(255, 255, 255, 0.1) -21.73%,
    rgba(255, 255, 255, 0) 75.59%
  ),
  #0a5887;

$button-priority-color: $medium-blue;
$button-priority-background: $white;
$button-priority-disabled-background: #d7d7d7;
$button-priority-background-color-loader: rgba(0, 122, 204, 20%);

$button-secondary-color: $white;
$button-secondary-background: rgba(0, 0, 0, 0.3);
$button-secondary-border: rem(1) solid $white;
$button-secondary-hover-color: $dark-gray;
$button-secondary-hover-background: $white;

$button-warning-background: $dark-red;
$button-warning-color: $white;
$button-warning-disabled-background: $extra-dark-red;
$button-warning-disabled-color: rgba(255, 255, 255, 0.5);
$button-warning-background-color: $extra-dark-red;

// Spinner
$spinner-border-color: $white;
$spinner-background-color: rgba(255, 255, 255, 0.2);
$spinner-border-color-dark: rgba(1, 44, 71, 1);
$spinner-background-color-dark: rgba(8, 46, 72, 0.2);

// Toast Message
$toast-message-info-background: $white;
$toast-message-info-color: $dark-blue;
$toast-message-error-color: $red;
$toast-message-success-color: $green;

// Input
$input-background: #08263a;
$input-background-transparent: rgba(8, 38, 58, 0.5);
$input-color: $white;
$input-placeholder: $opaque-text-color-light;
$label-color: $opaque-text-color-light;
$input-border: rem(1) solid #007acc;
$input-border-transparent: rgba(0, 122, 204, 0.5);
$input-hover-background: #051b29;
$input-hover-border: rem(1) solid #0099ff;
$input-focus-border: rem(1) solid $yellow;
$input-invalid-border: rem(1) solid $red;

// Checkbox
$checkbox-checked-background: #007acc;
$checkbox-checked-box-shadow: 0px spacing(element) rem(15) rgba(0, 0, 0, 0.15);
$checkbox-checkmark-color: $white;

// Tab
$tab-text-color: $white;
$tab-border-color: $tab-text-color;
$tab-vertical-background: transparent;
$tab-vertical-selected-border-color: $yellow;
$tab-vertical-selected-background: rgba(0, 0, 0, 0.35);

// WB Footer
$wb-footer-color: $white;

// Information Input
$information-input-border-bottom: rem(1) solid $white;
$information-input-title-color: $white;

// Divider Line
$divider-line-background: $white;

// Select
$select-option-hover-background: rgba(0, 153, 255, 0.35);
$select-arrow-color: $opaque-text-color-light;
$select-border-list-color: $dark-blue;
$select-menu-background: rgba(2, 20, 43, 1);
$select-dropdown-color: $opaque-text-color-light;

// Verification box
$verification-box-background: $white;
$verification-box-color: $dark-blue;

// Avatar Picture
$avatar-picture-border: rem(3) solid $white;
$avatar-picture-border: rem(3) solid #fff;
$avatar-picture-selected-border: rem(3) solid $yellow;

// Container
$container-background: #06253A;

// Dashboard Menu
$menu-background: #06253A;

// Navbar
$navbar-background: $dark-blue;

// Modal
$modal-background: #082E48;
$modal-color: $white;

// Switch
$switch-knob-turn-off: #abaeb6;
$switch-knob-turn-on: #007acc;

//Pagination
$pagination-hover-background: rgba(255, 255, 255, 0.2);
$pagination-text-color: $white;

// Platform selection
$platform-unselected-border: #d7d7d7;
$platform-selected-background: $dark-blue;

// Tooltip
$tooltip-color: $dark-gray;
$tooltip-background: $white;
$tooltip-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$tooltip-border-radius: 2px;

// Conflict game card
$conflict-game-card-background : #06253A;
$conflict-game-card-title-background: #092076;

// Game Card
$game-card-background-scrim: rgba(8, 46, 72, 0.3);
$game-card-background-drop-shadow: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));

// Button multi options
$button-multi-options-background: $default-background;
$button-multi-options-hover: rgba(0, 0, 0, 0.35);

